
@font-face {
  font-family: 'Karla-Regular';
  src: url('./final-project-assets/fonts/Karla-Regular.eot');
  src: url('./final-project-assets/fonts/Karla-Regular.woff2') format('woff2'),
       url('./final-project-assets/fonts/Karla-Regular.woff') format('woff'),
       url('./final-project-assets/fonts/Karla-Regular.ttf') format('truetype'),
       url('./final-project-assets/fonts/Karla-Regular.svg#Karla-Regular') format('svg'),
       url('./final-project-assets/fonts/Karla-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('./final-project-assets/fonts/Karla-Italic.eot');
  src: url('./final-project-assets/fonts/Karla-Italic.woff2') format('woff2'),
       url('./final-project-assets/fonts/Karla-Italic.woff') format('woff'),
       url('./final-project-assets/fonts/Karla-Italic.ttf') format('truetype'),
       url('./final-project-assets/fonts/Karla-Italic.svg#Karla-Italic') format('svg'),
       url('./final-project-assets/fonts/Karla-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Bold';
  src: url('./final-project-assets/fonts/Karla-Bold.eot');
  src: url('./final-project-assets/fonts/Karla-Bold.woff2') format('woff2'),
       url('./final-project-assets/fonts/Karla-Bold.woff') format('woff'),
       url('./final-project-assets/fonts/Karla-Bold.ttf') format('truetype'),
       url('./final-project-assets/fonts/Karla-Bold.svg#Karla-Bold') format('svg'),
       url('./final-project-assets/fonts/Karla-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('./final-project-assets/fonts/Karla-BoldItalic.eot');
  src: url('./final-project-assets/fonts/Karla-BoldItalic.woff2') format('woff2'),
       url('./final-project-assets/fonts/Karla-BoldItalic.woff') format('woff'),
       url('./final-project-assets/fonts/Karla-BoldItalic.ttf') format('truetype'),
       url('./final-project-assets/fonts/Karla-BoldItalic.svg#Karla-BoldItalic') format('svg'),
       url('./final-project-assets/fonts/Karla-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('./final-project-assets/fonts/Pacifico.eot');
  src: url('./final-project-assets/fonts/Pacifico.woff2') format('woff2'),
       url('./final-project-assets/fonts/Pacifico.woff') format('woff'),
       url('./final-project-assets/fonts/Pacifico.ttf') format('truetype'),
       url('./final-project-assets/fonts/Pacifico.svg#Pacifico') format('svg'),
       url('./final-project-assets/fonts/Pacifico.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --navbar-height: 60px;
  --padding: 15px;
  --grid-padding: var(--padding);
  --anchor-color: white;
  --primary-font: 'Karla', sans-serif;
  --secondary-font: 'Pacifico', cursive;
  --body-font-color: #2d2d2d;
  --medium-grey-headings: #646464;
  --orange-brand-color: #e2574c;
  --darker-orange-color: #b64036;
  --table-header-background: #e6e6e6;
  --grey-table-borders: #c8c8c8;
  --light-yellow-hovered-table-rows: #fbf6d9;
  --footer-height: 250px;
}

body {
  padding-top: var(--navbar-height);
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--body-font-color);
}

.navbar {
  max-height: var(--navbar-height);
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.navbar__logo {
}

.navbar__logo img {
  height: auto;
  padding: var(--padding);
  max-height: var(--navbar-height);
}

.navbar__menu li {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar__menu ul {
  display: flex;
  align-items: center;
  margin-left: 0;
  list-style: none;
  height: 100%;
}

.navbar__menu a {
  text-decoration: none;
  color: var(--anchor-color);
  padding: var(--padding);
}

 a:hover {
  color: var(--darker-orange-color);
}

.main-nav {
  text-align: right;

}

.hero-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./final-project-assets/images/kayak-bkgd.jpg');
  background-size: cover;
  display: flex;
  height: calc(100vh - var(--navbar-height));
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shade-box {
  background-color: rgba(0, 0, 0, 0.5); 
  margin-bottom: var(--padding);
}

.container {
  max-height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.container h1, .container h2 {
  font-family: var(--secondary-font);
  padding-top: var(--padding);
} 

.container .sub-header {
  padding-bottom: var(--padding);
}

.hero-banner p {
  color: var(--anchor-color);
}

.hero-banner p.caps {
  text-transform: uppercase;
}

.hero-banner h1 {
  color: var(--anchor-color);
  font-size: 120px;
}

.hero-banner h1.sub-header {
  color: var(--anchor-color);
  font-size: 42px;
  padding-bottom: var(--padding);
}

.hero-banner button {
  background-color: var(--orange-brand-color);
  border: none;
  color: var(--anchor-color);
  padding: 12px 22px;
  border-radius: 20px;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--darker-orange-color);
  color: black;
}

.container h2 {
  font-size: 42px;
  color: var(--medium-grey-headings);
  padding: var(--padding);
}

.about {
  height: 300px;
  max-height:100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  text-align: center;
}

.about p {
  line-height: 1.5;
}

.grid {
  max-width: 1240px;
  padding: var(--grid-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--grid-padding);
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.grid img {
  width: 100%;
  height: auto;
}

.image-1 {
  max-width: 400px;
}

.image-2 {
  max-width: 400px;
}

.image-3 {
  max-width: 400px;
}

.rentals {
  
}

.rentals-row {
  display: flex;
  flex-direction: row;
}

.paragraphs {
  order: 1;
  width: 50%;
}

.table {
  order: 2;
  width: 50%;
}

.phone-number {
  color: var(--darker-orange-color);
  text-decoration-line: underline;
  display: inline;
}

 table {
  width: 420px;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th { 
  border: 1px solid #CCC; 
  height: 30px;
  }

  th {
background: #F3F3F3; 
font-weight: bold; 
}

td {
  text-align: center;
}

.location p {
  padding: var(--padding);
}

.map-embed {
  width: 100%;
  align-content: center;
}

footer {
  height: var(--footer-height);
  color: var(--anchor-color);
  width: 100%;
  background-color: var(--body-font-color);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: var(--padding);
}

footer .greyscale {
  color: grey;
}

.social ul {
  display: inline;
  vertical-align: middle;
}

.social a {
  color: var(--anchor-color);
  text-decoration: none;
  vertical-align: middle;
  align-content: center;
  line-height: 1.5;
}

.social a:hover {
  color: var(--darker-orange-color);
}